



nav div {
    margin: 1rem 2rem;
}




#navbarIconContainer a:not(:first-child) {
    transition: opacity 0.2s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 10;
}

#navbarIconContainer a.show {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}