
nav {
    @apply sm:w-[85%];
}

.hideNav {
    opacity: 0; 
    transition: all 3s;
}

.showNav {
    opacity: 1;
}

.logo {
    @apply cursor-pointer;
    --size: 6.5rem;
    width: var(--size);
    height: var(--size);
}


.logo #e_filling path {
    /* stroke: white; */
}


/* logo svg stuff */
#logo svg path, #logo svg g g path {
    transition: all 0.5s steps(3, end);
    /* transition: all 1s cubic-bezier(0,1.5,1,1.5); */
}

.logoHovered path {
    fill: #00338D;
    stroke: #00338D;
}

/* the svg path for the circle inside the e letter is a separate vector inside of it so we need to target it separately */
.logoHovered #e_filling path {
    fill: white !important; 
    stroke: white !important; 
}



.hoverIcons {
    transition: opacity 0.2s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(200%);
    
    z-index: 10;
}

.hoverIcons.showIcons {
    /* display: block; */
    opacity: 1;
    transform: translate(0);
    
}

.navigation_button {
    transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;   
    padding: 0.3rem 0.25rem; 
}


.navigation_button p a {
    @apply text-lg;
    position: relative;
}

.current a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--ie-color-dark);

    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, border-radius 0.5s ease-in-out, right 0.5s ease-in-out;
} 

.current a:hover::after {
    width: 0%;
}


.link {
    @apply sm:opacity-0 sm:invisible block sm:translate-x-[-100%] sm:translate-y-[-200%];
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
    /* transform: translate(-100%, -200%); */
    z-index: 10;
}

.link a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--ie-color-dark);

    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, border-radius 0.5s ease-in-out, right 0.5s ease-in-out;
}

.link a:hover::after {
    width: 100%;
}

.link.showLinks {
    @apply sm:visible sm:translate-x-0 sm:translate-y-0 sm:opacity-100;

}



