@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  /* overflow-x: hidden; */
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  
  /* colors */
  --ie-color-dark: hsl(240, 100%, 20%);
  --ie-color-light: hsl(221, 100%, 75%); 
  --ie-color-lighter: hsl(221, 100%, 90%);
  
  --bg-color: hsl(0, 0%, 93%);

}




html, main  {
  background-color: var(--bg-color);
  overflow-x: hidden;
}


h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  width: fit-content;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}

p {
  @apply font-mono;
  font-size: 1rem;
  line-height: 1.5;
} 


a {
  cursor: pointer;
}

.pythonOperator {
  @apply text-sky-600 font-mono;
}

