@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  min-width: 0;

  /* colors */
  --ie-color-dark: #000066;
  --ie-color-light: #0048E1;

  --bg-color: hsla(0, 0%, 98%, 0.9);

}


html, main  {
  background-color: var(--bg-color);
}



h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
}

p {
  @apply font-mono;
  font-size: 1rem;
  line-height: 1.5;
} 


a {
  cursor: pointer;
}